<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AliveFrame - Privacy & Policy</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div id="qr-particles"></div>

<header>
  <nav class="container">
    <div class="logo">AliveFrame</div>
    <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    <button class="btn-primary nav-btn">Contact</button>
  </nav>
</header>

<section class="features">
  <h2 class="features-title">About US</h2>
  <div class="features-grid">
    
    <div  style="text-align: start;" class="Services-card">
            
                <br style="text-align: start;">


<p>Augmented Reality That Speaks for Your Brand.

At AliveFrame, we’re on a mission to transform how the world experiences print.

We are India’s smartest AR-powered publishing platform — enabling brands, publishers, and marketers to create immersive, interactive experiences directly from posters, packaging, magazines,newspaper and more — all through a simple QR scan image scan.

📲 No app. No hassle. Just scan and experience magic — right in your browser.

</p>

</br>
<h1>Our Vision</h1>
<br>
<p>To bridge the physical and digital worlds by turning everyday print into meaningful digital experiences.

What We Do
</p>
<br>

<h1>AliveFrame lets you:
</h1>

<ul style="text-align: start;">
    <br><li>🎯 Add short videos or interactive 3D content to any printed material
</li>
<br><li>📰 Make newspapers, ads, and packaging “come alive” with AR
</li>
<br><li>📊 Track viewer engagement with real-time analytics
</li>
<br><li>🛠 Manage and deploy campaigns with a simple dashboard
</li>
<br><li>Whether you’re a newspaper wanting to boost engagement, or a D2C brand looking to educate customers with packaging-based videos — AliveFrame makes it effortless.
</li>
</ul>



<br>

<h1>Why It Works
</h1>
<p>In a noisy world, attention is the currency.AliveFrame helps you break through — by delivering stories where they matter: directly from your physical products.
</p>
<br>

<ul>
    <br><li>No app needed
</li>
<br><li>Lightning-fast loading
</li>
<br><li>Fully brand-safe & white-labeled
</li>
<br><li>Built-in viewer analytics
</li>
<br><li>Scalable for any campaign size
</li>
<br><li>Built in India. Made for the World.
</li>
</ul>

<br>
<p>AliveFrame is proudly Indian — building next-gen AR infrastructure that scales across industries and countries.
</p>
<br>

<h1>Let’s Make Your Media Alive.
</h1>



📧 support@aliveframe.com <br>🌐www.aliveframe.com <br>📍 Based in India | Serving Globally

                            </span>

    </div>
</section>



<footer class="footer">
  <p>© 2025 AliveFrame | All Rights Reserved.</p>
</footer>

<script src="{% static 'script.js' %}"></script>
</body>
</html>
